@charset "utf-8";
/* CSS Document */
html,
body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  padding-top: 100px;
}
#formulario {
  width: inherit;
  margin: auto;
}

.centro {
  text-align: center;
}
#tabela {
  width: 70%;

  margin: auto;
  border: #696969 solid 1px;
}
.branco {
  background-color: #f5f5f5;
}

a {
  padding: 10px 40px;
  padding: 10px 40px;
  background-color: #70a3f1;
  text-decoration: none;
  color: black;
  margin: 3px;
  display: block;
  text-align: center;
}
input[type='submit'] {
  padding: 10px 40px;
  background-color: #70a3f1;
}
td {
  margin: 5px;
  padding: 10px;

  text-align: left;
}
div#centro a {
  display: inline;
  background-color: #ffffff;
}
div#centro {
  text-align: center;
}
